{% extends 'bootstrap/base.html' %}

{%block title %}
    {% if title %}{{ title }} - PoseitronBlog{% else %}Welcome to PoseitronBlog !{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
            PoseitronBlog:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            <a href="{{ url_for('robotPresentation') }}">Robot presentation</a>
            <a href="{{ url_for('graphiques') }}">Robot data</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
    </nav>
    <hr>
{% endblock %}

{% block content %}
    <div class="container">
        .container{
            margin-right: 15px ;
        }
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    <hr>
    <footer>LELME2002 - Mechatronics. Group2 2019/2020</footer>
    <hr>
    </div>
{% endblock %}
