{% extends "base.html" %}

{% block content %}
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <body onload ="update_values();">
        <h1>Dynamic Update</h1>
        <p id=resultx>?</p> 
        <p id=resulty>?</p>
            <div>
                <canvas id="myChart" width=".01em" height=".01em"></canvas>
                <!--<canvas id="myChart2" width=".02em" height=".02em"></canvas>-->
            </div>

            <script type="text/javascript">
                var intervalID = setInterval(update_values,2000);
                var c=0;
                let xcoord ;
                let ycoord;

                    function update_values(){

                        $.getJSON('/_robotData',
                        function(data){
                            $('#resultx').text(data.resultx);
                            $('#resulty').text(data.resulty);
                            xcoord = data.resultx;
                            ycoord = data.resulty;
                            //document.write("x vaut :"+ x_coord);
                            
                            //document.write("y vaut :"+ y_coord);
                            //console.log(data)
                            //console.log(xcoord);
                            //console.log(ycoord);
                        });
                        
                        c=c+2;
                        
                        // la partie qui est censée transmettre les coordonnees a la chart

                        //console.log(c);
                        console.log(xcoord);
                        console.log(ycoord);
                        myChart.data.labels.push(c);
                        /*
                        myChart.data.datasets.forEach((dataset) => {
                        dataset.data.pop();
                        });*/
                        /* //plutot utiliser ceci pour un nombre precis de points
                        if(dataset.data.length > max){
                            dataset.data.shift();
                        }*/

                        myChart.data.labels.pop();
                        myChart.data.datasets.forEach((dataset) => {
                            dataset.data.pop();
                        });
                        myChart.data.datasets.forEach((dataset )=> {
                            dataset.data.push({x: xcoord, y: ycoord});
                            //dataset.data.push(xcoord);
                            //dataset.data.push(ycoord);
                        });
                        //myChart.data.datasets.push(xcoord);
                        //console.log(data);
                        myChart.update();
                    };

                    //console.log(xcoord);
                    //console.log(ycoord);
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'scatter',
                        data: {
                            labels: [c],
                            datasets: [{
                                label: 'Robot speed',
                                data: [{
                                    x: xcoord,
                                    y: ycoord
                                }],
                                backgroundColor: [
                                    'rgba(102, 255, 153, 1)',

                                ],
                                borderColor: [
                                    'rga(255, 0, 0, 1)',

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    type: 'linear',
                                    position: 'bottom',
                                    ticks: {
                                        max: 10,
                                        min: 0,
                                        stepSize: 1
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        //beginAtZero: true,
                                        max: 10,
                                        min: 0,
                                        stepSize: 1
                                    }
                                }]
                            }
                        }
                    });
            </script>

        </body>
{% endblock %}