{% extends "base.html" %}

{% block content %}
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <body onload ="update_values();">

        <h1>Real time monitoring</h1>
        <!--<p id=resultx>?</p> 
        <p id=resulty>?</p>-->
            <div>
                <canvas id="myChart" width=".01em" height=".01em"></canvas>
                <canvas id="myChart2" width=".02em" height=".02em"></canvas>
            </div>

            <script type="text/javascript">
                var intervalID = setInterval(update_values,500);
                //var c=0;
                let xcoord ;
                let ycoord;
                let timeSpeed;
                let speedLeft;
                let speedRight;
                let consignLeft;
                let consignRight;
                    function update_values(){

                        $.getJSON('/_robotData',
                        function(data){
                            $('#resultx').text(data.resultx);
                            $('#resulty').text(data.resulty);
                            $('#timeSpeed').text(data.timeSpeed);
                            $('#speedLeft').text(data.speedLeft);
                            $('#speedRight').text(data.speedRight);
                            xcoord = data.resultx;
                            ycoord = data.resulty;
                            timeSpeed = data.timeSpeed;
                            speedLeft = data.speedLeft;
                            speedRight = data.speedRight;
                            consignLeft = data.consignLeft;
                            consignRight = data.consignRight;

                            //console.log(xcoord);
                            //console.log(ycoord);
                            console.log(timeSpeed);
                            console.log(speedLeft);
                            console.log(speedRight);
                            console.log(consignLeft);
                            console.log(consignRight);
                            //console.log(data)

                        });
                        
                       // c=c+2;
                        
                        // la partie qui est censée transmettre les coordonnees a la chart

                        //console.log(c);
                        //console.log(xcoord);
                        //console.log(ycoord);
                        //myChart.data.labels.push(c);
                        /*
                        myChart.data.datasets.forEach((dataset) => {
                        dataset.data.pop();
                        });*/

                        /* //plutot utiliser ceci pour un nombre precis de points
                        if(dataset.data.length > max){
                            dataset.data.shift();
                        }*/

                        myChart.data.labels.pop();
                        myChart.data.datasets.forEach((dataset) => {
                            dataset.data.pop();
                        });
                        myChart.data.datasets.forEach((dataset )=> {
                            dataset.data.push({x: xcoord, y: ycoord});
                            //dataset.data.push(xcoord);
                            //dataset.data.push(ycoord);
                        });
                        //myChart.data.datasets.push(xcoord);
                        //console.log(data);
                        myChart.update();
                    };

                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'scatter',
                        data: {
                            //labels: [c],
                            datasets: [{
                                label: 'Robot position',
                                data: [
                                    3
                                ],
                                backgroundColor: [
                                    'rgba(102, 255, 153, 1)',

                                ],
                                borderColor: [
                                    'rga(255, 0, 0, 1)',

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    type: 'linear',
                                    position: 'bottom',
                                    ticks: {
                                        max: 10,
                                        min: 0,
                                        stepSize: 1
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        //beginAtZero: true,
                                        max: 10,
                                        min: 0,
                                        stepSize: 1
                                    }
                                }]
                            }
                        }
                    });
                    var graph2 = document.getElementById('myChart2');
                    var myChart2 = new Chart(graph2, {
                        type: 'line',
                        data: {
                            labels: [timeSpeed],
                            datasets: [{
                                label: 'Wheels speeds',
                                data: [{
                                    x: xcoord,
                                    y: ycoord
                                }],
                                backgroundColor: [
                                    'rgba(102, 255, 153, 1)',

                                ],
                                borderColor: [
                                    'rga(255, 0, 0, 1)',

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                /*
                                xAxes: [{
                                    type: 'linear',
                                    position: 'bottom',

                                    ticks: {
                                        max: 10,
                                        min: 0,
                                        stepSize: 1
                                    }
                                }],*/
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        /*
                                        max: 10,
                                        min: 0,
                                        stepSize: 1*/
                                    }
                                }]
                            }
                        }
                    });
            </script>
        </body>
{% endblock %}