{% extends "base.html" %}

{% block content %}
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<body onload="update_values();">

    <h1>Real time monitoring</h1>
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="myChart" width="200" height="200"></canvas>
        <canvas id="myChart2" width="400" height="200"></canvas>
    </div>

    <script type="text/javascript">
        var intervalID = setInterval(update_values, 100);
        let xcoord;
        let ycoord;
        let speedLeft;
        let speedRight;
        let consignLeft;
        let consignRight;
        let time;
        myChart.canvas.parentNode.style.height = '128px';
        myChart.canvas.parentNode.style.width = '128px';
        function update_values() {

            $.getJSON('/_robotData',
                function (data) {
                    xcoord = data.resultx;
                    ycoord = data.resulty;
                    speedLeft = data.speedLeft;
                    speedRight = data.speedRight;
                    consignLeft = data.consignLeft;
                    consignRight = data.consignRight;
                    time = data.time;

                });


            myChart.data.datasets.forEach((dataset) => {
                dataset.data.push({ x: xcoord, y: ycoord });
            });
            if (myChart.data.labels.length > 10000) {
                myChart.data.labels.shift();
            }
            myChart.data.datasets.forEach((dataset) => {
                if (dataset.data.length > 10000) {
                    dataset.data.shift();
                }
            });

            myChart2.data.labels.push(time);
            myChart2.data.datasets[0].data.push(speedLeft);
            myChart2.data.datasets[1].data.push(speedRight);
            myChart2.data.datasets[2].data.push(consignLeft);
            myChart2.data.datasets[3].data.push(consignRight);

            if (myChart2.data.labels.length > 100) {
                myChart2.data.labels.shift();
            }
            myChart2.data.datasets.forEach((dataset) => {
                if (dataset.data.length > 100) {
                    dataset.data.shift();
                }
            });
            myChart.update();
            myChart2.update();
        };

        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Robot position',
                    data: [{
                        x: xcoord,
                        y: ycoord
                    }],
                    backgroundColor: ["red"],
                    borderColor: ["black"],
                    pointBorderColor: "black",
                    pointBackgroundColor: "red",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        ticks: {
                            max: 2,
                            min: -2,
                            stepSize: 0.1
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            max: 2,
                            min: -2,
                            stepSize: 0.1
                        }
                    }]
                }
            }
        });
        var graph2 = document.getElementById('myChart2');
        var myChart2 = new Chart(graph2, {
            type: 'line',
            data: {
                labels: [time],
                datasets: [{
                    label: 'Speed left wheel',
                    fill: false,
                    data: [speedLeft],
                    backgroundColor: "rgba(225,0,0,0.4)",
                    borderColor: "red",
                    borderCapStyle: 'square',
                    pointBorderColor: "black",
                    pointBackgroundColor: "red",
                    pointBorderWidth: 1,
                    pointHoverRadius: 8,
                    pointRadius: 2,
                    pointHitRadius: 10,
                    borderWidth: 1
                }, {
                    label: 'Speed right wheel',
                    fill: false,
                    data: [speedRight],
                    backgroundColor: [
                        'rgba(0,255,0, 1)',

                    ],
                    borderColor: "green",
                    borderCapStyle: 'square',
                    pointBorderColor: "black",
                    pointBackgroundColor: "green",
                    pointBorderWidth: 1,
                    pointHoverRadius: 8,
                    pointRadius: 2,
                    pointHitRadius: 10,
                    borderWidth: 1

                }, {
                    label: 'Left wheel ref',
                    fill: false,
                    data: [consignLeft],
                    backgroundColor: "blue",
                    borderColor: "blue",
                    borderCapStyle: 'square',
                    pointBorderColor: "black",
                    pointBackgroundColor: "blue",
                    pointBorderWidth: 1,
                    pointHoverRadius: 3,
                    pointRadius: 1,
                    pointHitRadius: 3,
                    borderWidth: 1

                },
                {
                    label: 'Right wheel ref',
                    fill: false,
                    data: [consignRight],
                    backgroundColor: "black",
                    borderColor: "black",
                    borderCapStyle: 'square',
                    pointBorderColor: "black",
                    pointBackgroundColor: "black",
                    pointBorderWidth: 1,
                    pointHoverRadius: 3,
                    pointRadius: 1,
                    pointHitRadius: 3,
                    borderWidth: 1

                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            max: 300,
                            min: -300,
                            stepSize: 20
                        }
                    }]
                }
            }
        });
    </script>
</body>
{% endblock %}