{% extends "base.html" %}

{% block app_content %}
<h1>
    <center>Poseitron is watching you {{ current_user.username }}!</center>
</h1>

<center>
    <font size="+3" color="#006994">
        <p>
            Welcome to the Poseitron accessing center.
            <br>
            You will find here all the relevant informations about the
            robot's behavior.
        </p>
    </font>
</center>

<hr>
{ <nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}