{% extends "base.html" %}

{% block content %}
<h1>
    <center>Poseitron is watching you {{ current_user.username }}!</center>
</h1>

<center>
    <font size="+3" color="#006994">
        <p>
            Welcome to the Poseitron accessing center.
            <br>
            You will find here all the relevant informations about the
            robot's behavior.
        </p>
    </font>
</center>

<hr>
{% if form %}
    <form action="" method="post">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
        {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
</form>
{% endif %}
{% endblock %}