{% extends "base.html" %}

{% block content %}
        <hr>
        Ceci vient de putainDeGraphes
        <hr>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="ressourceGraph/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="ressourceGraph/plugins/jqplot.categoryAxisRenderer.min.js"></script>
        <script type="text/javascript" src="ressourceGraph/plugins/jqplot.highlighter.min.js"></script>
        <script type="text/javascript" src="ressourceGraph/plugins/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="ressourceGraph/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
        <link rel="stylesheet" type="text/css" href="ressourceGraph/jquery.jqplot.min.css" />
        <script>
            'T es nul'
            $(document).ready(function(){

            var l2 = [11, 9, 5, 12, 14];
            var l3 = [4, 8, 5, 3, 6];
            var l4 = [12, 6, 13, 11, 2];    


            var plot1b = $.jqplot('chart1b',[l2, l3, l4],{
                stackSeries: true,
                showMarker: false,
                seriesDefaults: {
                    fill: true
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ["Mon", "Tue", "Wed", "Thr", "Fri"]
                    }
                }
            });

            $('#chart1b').bind('jqplotDataHighlight', 
                function (ev, seriesIndex, pointIndex, data) {
                    $('#info1b').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
                }
            );

            $('#chart1b').bind('jqplotDataUnhighlight', 
                function (ev) {
                    $('#info1b').html('Nothing');
                }
            );
        });
        </script>
{% endblock %}