
<!--{% extends "base.html" %}-->
{% extends "dy0.html" %}
{% block content %}
    <hr>
    Ceci vient de putainDeGraphes.
    <hr>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <body onload ="update_values();">
        <h1>Dynamic Update</h1>
        <p>
            <span id="resul">?</span>san</span>
            <script>
                document.getElementById("result").innerHTML;
            </script>

            <button onclick="stopTextColor();">Stop</button>
            <div>
                <canvas id="myChart" width=".02em" height=".02em"></canvas>
                <canvas id="myChart2" width=".02em" height=".02em"></canvas>
            </div>

            <script type="text/javascript">
                var intervalID=setInterval(update_values,1000);
                var c=0;
                var temp;
                    function update_values(){
                        $.getJSON($SCRIPT_ROOT+'/robotData',
                        function(data){
                            $('#result').text(data.result);
                            temp=data.result;
                            console.log(data)
                        });
                        c=c+1;
                        console.log(c);
                        console.log(temp);
                        myCHart.data.labels.push(c);
                        myChart.data.datasets.forEach((dataset)=> {dataset.data.push(temp);
                        });
                        myChart.update();
                    };
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [c],
                            datasets: [{
                                label: '# of people visiting market',
                                data: [temp],
                                backgroundColor: [
                                    'rgba(102, 255, 153, 1)',

                                ],
                                borderColor: [
                                    'rga(255, 0, 0, 1)',

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
            </script>
        </p>
    </body>
        <!--<img src="data:image/png;base64,{}">.format({{ plot_url }})-->
        <!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
        <!--<div id="container" style="width:100%; height:400px;"></div>-->
        <!--<script>
         /*   Highcharts.chart('container', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.random();
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            time: {
                useUTC: false
            },

            title: {
                text: 'Live random data'
            },

            accessibility: {
                announceNewData: {
                    enabled: true,
                    minAnnounceInterval: 15000,
                    announcementFormatter: function (allSeries, newSeries, newPoint) {
                        if (newPoint) {
                            return 'New point added. Value: ' + newPoint.y;
                        }
                        return false;
                    }
                }
            },

            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },

            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },

            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },

            legend: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for(i=-19;i<=0;i += 1){
                        data.push({
                            x: time+i*1000, //xcoord[i], 
                            y: Math.random()//ycoord[i]
                        });
                    }
                    return data;
                }())
            }]
        });  */     
        </script>-->
{% endblock %}